@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
iframe, .fotoLocal, video {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 25px;
}

#tituloPregunta, .nombre-dispositivo {
  background-color: #1B70CC;
  color: #FDFEFF;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0;
}

#parrafoPregunta, .dis1, .dis2 {
  border: 2px solid #1B70CC;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3, h4, p {
  padding: 10px;
}

p {
  text-align: justify;
  font-size: 2vh;
  color: black;
}

section p {
  text-align: center;
}

h1 {
  font-size: 5vh;
}

h2 {
  font-weight: bold;
  font-size: 3vh;
}

h3 {
  font-size: 2.5vh;
}

h4, h5 {
  font-size: 2vh;
}

.logo {
  max-width: 100%;
}

.tituloYLogo {
  background-color: #13417D;
  text-align: center;
}

/* estilos del header */
header {
  background-color: #13417D;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0;
  justify-content: space-around;
}

/* estilo para el menu */
.bg-color {
  background-color: #13417D;
}

.menu ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.link-color {
  color: #FDFEFF;
}

.active-color {
  color: #5F626F;
}

.brand-text {
  color: #FDFEFF;
  font-weight: bold;
}

.button-color {
  background-color: #4C7585;
}

/* estilo para los enlaces del menu */
a {
  font-size: 3vh;
  text-decoration: none;
  padding: 0 100px;
}

h1, a {
  font-family: "orbitron", sans-serif;
  color: #FDFEFF;
}

footer {
  position: absolute;
  background-color: #13417D;
  color: #FDFEFF;
  text-align: end;
  margin: 0;
  width: 100%;
}

/* estilos del inicio y body */
/* estilos para nosotros */
.redes {
  list-style: none;
}

/* estilos para productos */
@media only screen and (max-width: 500px) {
  .productos {
    flex-direction: column;
    align-items: center;
  }
  .producto {
    width: 70%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1023px) {
  .producto {
    width: 35%;
  }
}
@media only screen and (min-width: 1024px) {
  .producto {
    width: 24%;
  }
}
.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.producto {
  display: block;
  text-align: center;
  margin: 5px;
}
.producto img {
  width: 100%;
  border: 2px solid #1B70CC;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#tituloProducto {
  color: #FDFEFF;
  background-color: #1B70CC;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
}

/* estilos de servicios */
.servicios {
  display: grid;
  margin: 5px;
}

.dis1 {
  grid-template-columns: 80% 20%;
}

.dis2 {
  grid-template-columns: 20% 80%;
}

.dis1, .dis2 {
  display: grid;
  padding: 25px;
}

.nombre-dispositivo {
  text-align: center;
}

.img-servicio {
  width: 100%;
}

/* estilos para preguntas */
@media only screen and (max-width: 500px) {
  .bloque {
    width: 80%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1023px) {
  .bloque {
    width: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .bloque {
    width: 305px;
  }
}
.bloque {
  text-align: center;
  margin: 5px;
}

.grupo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=styles.css.map */
