/* estilos para preguntas */
@media only screen and (max-width: 500px) {
    .bloque {
        width: 80%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1023px) {
    .bloque {
        width: 45%;
    }
}

@media only screen and (min-width: 1024px){
    .bloque {
        width: 305px;
    }
}

.bloque {
    text-align: center;
    margin: 5px;
}

.grupo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#tituloPregunta {
    @extend %cuadroSuperior;
}

#parrafoPregunta {
    @extend %cuadroInferior;
}