%multimedia {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    border-radius: 25px;
}

%cuadro-superior {
    background-color: $color-secundario;
    color: $color-links;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0;
}

%cuadro-inferior {
    border: 2px solid $color-secundario;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
}