@media only screen and (max-width: 500px) {
    .logo {
        width: 450px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1023px) {
    .logo {
        width: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    .logo {
        width: 700px;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-image: url("../../img/fondo-web.png");
    background-size: 300px;
}

main {
    padding-bottom: 40px;
}

h2, h3, h4, p {
    padding: 10px;
}

p {
    font-family: "Rubik", sans-serif;
    font-size: 2vh;
    color: black;
    line-height: 2;
}

h1 {
    font-size: 4vh;
}

h2 {
    background-color: white;
    border: 2px solid $color-secundario;
    border-radius: 25px;
    max-width: 500px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 3vh;
}

h3 {
    font-size: 2.5vh;
}

h4, h5 {
    font-size: 2vh;
}

ul {
    p{
        text-align: justify;
    }
}

.titulo-y-logo {
    background-color: $color-principal;
    text-align: center;
    a {
        padding: 0;
    }
}
